.body {
  color: #fff;
  font-family: monospace;
  text-align: center;
}

.content > * {
  background-color: #3bbced;
  padding: 30px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

.hero {
  grid-area: hero;
}

aside {
  grid-area: aside;
}

nav {
  grid-area: nav;
}

section {
  grid-area: section;
}

footer {
  grid-area: footer;
}
